# Python venv
layout python /usr/bin/python3
layout ruby

# ccache
export CCACHE_DIR=/Volumes/X5/ccache

# Enable ccache for all CMake native or cross-compiling projects
export CMAKE_CXX_COMPILER_LAUNCHER=`which ccache`
export CMAKE_C_COMPILER_LAUNCHER=`which ccache`

export EDITOR=nvim